.button-ct-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 0 auto;
  padding: .9em 2em;
  border: 1px solid #C8C8C8;
  border-radius: 25px;
  background-color: #fff;
  color: #c8c8c8;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}