<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stage変更</title>
  <link rel="stylesheet" href="{{ url_for( "static",filename="defalut.css" ) }}">

</head>

<body>
  <h1>This is controll_stage.</h1>
  <form action="{{url_for("controll_stage",contoroll_stage_option="home")}}" method="POST" novalidate="novalidate">
    <button class="button-1" name="action" value="up">↑</button>
    <button class="button-1" name="action" value="down">↓</button>
  </form>
  <h2><a href={{ url_for('home') }}>homeに戻る</a></h2>
</body>

</html>