<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stage変更</title>
  <link rel="stylesheet" href="{{ url_for( 'static',filename='defalut.css' ) }}">
  <script type="text/javascript" src="{{ url_for('static', filename='defalut.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='controll_stage.js') }}"></script>
  <script>
    async function cheak_status() {
      //　鯖から状態をもらってくる
      const status_cheak = await post_json('{{url_for("api.ct_stage_op")}}', JSON.stringify({ mode: "cheak" }))
      console.log(status_cheak)
      is_op = status_cheak.is_op
      change_status_message(is_op)
    }
    async function ct_stage(type) {
      //先にボタンを無効化
      change_status_message_disabled()
      //　鯖にデータを渡す
      const ct_status = await post_json('{{url_for("api.ct_stage_op")}}', JSON.stringify({ mode: "controll", type: type }))
      const is_op = ct_status.is_op
      //必要な処理を
      change_status_message(is_op)
      console.log(ct_status)
    }

    async function shake(type) {
      change_status_message_disabled()
      const a = document.getElementsByClassName("button_shake_color")
      const status = await post_json('{{url_for("api.ct_stage_op")}}', JSON.stringify({ mode: "shake", type: type }))
      const is_op = status.is_op
      change_status_message(is_op)
      console.log(status)
    }
  </script>
</head>

<body>
  <h1>This is controll_stage.</h1>
  <button class="button-status-cheak" onclick="cheak_status()">状態確認</button>
  <div id="status"> </div>
  <button onclick='ct_stage("up")' disabled class="button-ct-stage button-status-color">↑</button>
  <button onclick='ct_stage("down")' disabled class="button-ct-stage button-status-color">↓</button>
  <button onclick='shake("start")' disabled class="button-status-color button_shake_color">シェイク開始 </button>
  <button onclick='shake("stop")' class="button_shake_color">シェイク終了</button>
  <h2><a href={{ url_for('home') }}>homeに戻る</a></h2>
</body>

</html>